
.buttonHome {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s;
    z-index: 2;
}

.buttonHome:hover{
    transform: scale(1.3);
}


.buttonHome img{
    width: 7rem;
}