@media(max-width: 915px) {
    .header .headerMainContainer {
        width: 100%;
        height: 60rem;
        align-items: center;
        text-align: center;
    }

    .header .headerMainContainer .textBox {
        width: 90%;
    }

    .about img {
        min-width: 70rem;
    }

    .services .servicesContainer .textContent {
        padding: 0 3rem;
    }

    .services .deviceContainer {
        display: none;
    }

    .team .teamDetails{
        width: 50%;
        height: 40rem;
        justify-content: center;
    }
    
    .team .teamDetails .detailsTextContainer{
        padding-right: 0;
    }
    
    .team .teamMembers{
        height: 40rem;
        justify-content: center;
    }
    
    .team .teamMembers .membersContainer{
        width: 60rem;
    }
    
    .contact{
        background-color: #472562;
        height: 50rem;
        display: flex;
        justify-content: space-around;
    }
    
}

@media(max-width: 748px){
    
    .no-scroll { /* classe para desativar o scroll da pagina */ 
        overflow: hidden;
    }

    .header{
        padding-top: 6rem;/* compensa o espaço que navContainer deixa de ocupar quando vira position fixed */
    }
    

    .header .navContainer{
        padding: 2rem 2rem;
        background-color: #472562;
        border-bottom: 0.1rem solid gray;
        position: fixed;
        z-index: 2;
        top: 0;
        
    }
    
    .header .logo{
        width: 5rem;
        z-index: 3;
    }

    .header .navBar .menuList{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.808);
        gap: 0;
    }
    
    .header .navBar .menuList{
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-94rem);
        transition: transform 0.8s ease-in-out;
    }

     
    .header .navBar .show {
        transform: translateY(0);
        display: flex;
      }

    .header .navBar .menuList li{
        padding: 1rem 0;
        width: 100%;
        border-bottom: 1px solid gray;
        text-align: center;
        cursor: pointer;
    }

    .header .navBar .menuList li:hover{
        background-color: rgba(37, 37, 37, 0.37);
    }

    .header .navBar .menuList li a{
        font-size: 3.5rem;
    }
    
    .header .menuToggle{
        display: block;
        padding-top: 1rem;
        z-index: 3;
    }
    
    .about{
        height: 45rem;
    }
    
    .about img {
        min-width: 50rem;
    }

    .team{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .team .teamDetails{
        width: 100%;
        padding: 5rem 2rem 0;
    }

    .team .teamMembers{
        width: 100%;
        padding: 5rem 2rem 0;
    }

    .contact{
        height: 100rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:628px){

    .header .headerMainContainer .textBox .title{
        font-size: 3rem;
    }
    
    .header .headerMainContainer .textBox .titleText{
        font-size: 1.6rem;
        
    }

    .about img {
        min-width: 45rem;
    }

    .about .aboutContainer .aboutTitle{
        font-size: 2rem;
    }
    
    .about .aboutContainer .aboutText{
        font-size: 1.6rem;
    }
    
}

@media(max-width:539px){
    .header .headerMainContainer .textBox .title{
        font-size: 2.7rem;
    }

    .header .headerMainContainer .textBox .titleText{
        font-size: 1.5rem;
    }

    .header .navBar .menuList li a{
        font-size: 2.8rem;
    }
    
    .services .servicesContainer .textContent .servicesTitle{
        font-size: 2rem;
    }
    
    .services .servicesContainer .textContent p{
        font-size: 1.5rem;
    }
    
    .services .servicesContainer .textContent li{
        font-size: 1.5rem;
    }
    .services .servicesContainer .textContent .contactBtn{
        font-size: 1.5rem;
    }

    .about{
        height: 38rem;
    }

    .about img {
        min-width: 30rem;
    }
    

    .about .aboutContainer .aboutTitle{
        font-size: 1.8rem;
    }
    
    .about .aboutContainer .aboutText{
        font-size: 1.6rem;
    }

    .footer{
        flex-direction: column;
    }
    
}

@media(max-width: 410px){
    .about{
        height: 43rem;
    }

    .contact .formContainer{
        width: 35rem;
    }

    .contact .mapContainer{
        width: 35rem;
    }
}