html{
    scroll-behavior: smooth; /*faz a rolagem da página ser mais suave*/  
}

.header{
    width: 100%;
    height: 90vh;
    background-image: url(../images/capa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header .navContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 2rem 0;
    gap:7rem;
    width: 100%;
}

.header .logo{
    width: 6rem;
}

.header .logo img{
    width: 100%;
    border-radius: 50%;
}

.header .navBar  .menuList{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}

.header .navBar .menuList li a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.7s ease;
}

.header .menuToggle{
    display: none;
    cursor: pointer;
}

.header .headerMainContainer{
    width: 73%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.header .headerMainContainer .textBox{
    width: 62rem;
}

.header .headerMainContainer .textBox .title{
    font-size: 4rem;
    color: white;
    margin-bottom: 1.5rem;
}

.header .headerMainContainer .textBox .titleText{
    font-size: 1.7rem;
    color: white;
}

.services{
    background-color: #472562;
    height: 43rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
}

.services .deviceContainer{
    position: relative;
    height: 43rem;
    width: 47rem;
}

.services .deviceContainer .device{
    position: absolute;
    top: -4rem;
    left: -9rem;
    max-width: 54.8rem;
}

.services .servicesContainer{
    color: white;
    width: 46rem;
    height: 25rem;
}

.services .servicesContainer .textContent .servicesTitle{
    font-size: 2.7rem;
}

.services .servicesContainer .textContent p{
    font-size: 1.8rem;
    margin-top: 1rem;
}

.services .servicesContainer .textContent .servicesList{
    list-style-position: inside;
    margin-top: 1rem;
}

.services .servicesContainer .textContent li{
    font-size: 1.8rem;
    font-weight: 400;
}

.services .servicesContainer .textContent .contactBtn{
    font-size: 1.6rem;
    cursor: pointer;
    color: white;
    font-weight: 400;
    background-color: #FF703D;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 2rem;
}

.about{
    height: 56rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 3rem 0;
    position: relative;
    background-color: rgb(238, 238, 238);
}

.about .aboutContainer{
    text-align: center;
    max-width: 100rem;
}

.about .aboutContainer .aboutTitle{
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.about .aboutContainer .aboutText{
    font-size: 2rem;
    margin-bottom: 2rem;
}


.about img {
    margin-top: 2rem;
    position: absolute;
    bottom: -8rem;
    min-width: 80rem;
    max-width: 60%;
}

.team{
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .teamDetails{
    color: white;
    background-color: #835FA7;
    width: 50%;
    height: 38rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5rem 3rem 0;
}

.team .teamDetails .detailsTextContainer{
    width: 60rem;
    padding-right: 3rem;
}

.team .teamDetails .detailsTextContainer h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-style: italic;
}

.team .teamDetails .detailsTextContainer p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
}

.team .teamMembers{
    background-color: rgb(238, 238, 238);
    width: 50%;
    height: 38rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5rem 3rem 0;
}

.team .teamMembers .membersContainer{
    width: 60rem;
}

.team .teamMembers .membersContainer .member{
    display: flex;
}

.team .teamMembers .membersContainer .member .memberDetails{
    margin-bottom: 1rem;
}

.team .teamMembers .membersContainer .member .memberDetails h3{
    font-size: 2rem;
    font-weight: 400;
}

.team .teamMembers .membersContainer .member .memberDetails p{
    font-size: 1.6rem;
    font-weight: 400;
}

.team .teamMembers .membersContainer .member .image img{
    border-radius: 50%;
    /* background-image: url(../images/avatar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
}

.team .teamMembers .membersContainer p{
    font-size: 1.8rem;
}

.team .teamMembers .membersContainer .slide{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.team .teamMembers .membersContainer .btnSlider{
    background-color: gray;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.team .teamMembers .membersContainer .btnSlider.selected{
    background-color: black;
}

.contact{
    background-color: #472562;
    height: 50rem;
    display: flex;
    justify-content: space-evenly;
}

.contact .formContainer{
    width: 40rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.contact .formContainer h3{
    font-size: 2rem;
    color: white;
    font-weight: 400;
}

.contact .formContainer p{
    font-size: 1.7rem;
    color: white;
    font-weight: 300;
    margin-top: 1rem;
}

.contact .formContainer .form{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-top: 1rem;
}

.contact .formContainer input[type="text"],input[type="email"] {
    height: 3rem;
}

.contact .formContainer textarea{
    height: 10rem;
    resize: none;
}

.contact .formContainer button{
    width: 8rem;
    padding: 1rem 0;
    cursor: pointer;
    border-radius: 2rem;
    border: none;
    background-color: #FF703D;
    color: white;
}

.contact .mapContainer{
    width: 40rem;
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem 0;
}

.contact .mapContainer h3{
    font-size: 2rem;
    color: white;
    font-weight: 400;
    margin-bottom: 1rem;
}

.contact .mapContainer .map{
    width: 100%;
    height: 30rem;
    background-color: white;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #282433;
    height: 10rem;
}

.footer p{
    font-size: 1.6rem;
    color: white;
}
