.team{
    display: flex;
    align-items: center;
    justify-content: center;
}

.teamDetails{
    color: white;
    background-color: #835FA7;
    width: 50%;
    height: 38rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5rem 3rem 0;
}

.detailsTextContainer{
    width: 60rem;
    padding-right: 3rem;
}

.detailsTextContainer h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-style: italic;
}

.detailsTextContainer p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
}

.teamMembers{
    background-color: rgb(238, 238, 238);
    width: 50%;
    height: 38rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5rem 3rem 0;
}

.membersContainer{
    width: 60rem;
}

.memberText{
    font-size: 1.8rem;
}

.member{
    display: flex;
}

.memberDetails{
    margin-bottom: 1rem;
}

.memberDetails h3{
    font-size: 2rem;
    font-weight: 400;
}

.memberDetails p{
    font-size: 1.6rem;
    font-weight: 400;
}

.photo img{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
}

.slider{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.btnSlider{
    background-color: gray;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

 .btnSlider.selected{
    background-color: black;
}

@media(max-width: 992px) {
    .teamDetails{
        width: 50%;
        height: 40rem;
        justify-content: center;
    }
    
    .detailsTextContainer{
        padding-right: 0;
    }
    
    .teamMembers{
        height: 40rem;
        justify-content: center;
    }
    
    .membersContainer{
        width: 60rem;
    }
}

@media(max-width: 768px){
    .team{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .teamDetails{
        width: 100%;
        padding: 5rem 2rem 0;
    }

    .teamMembers{
        width: 100%;
        padding: 5rem 2rem 0;
    }
}